<div class="content-wrapper">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email id</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of Joining</th>
        <th scope="col">Mobile </th>
        <th scope="col">Designation</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee|%>
        <tr>
          <th><%= employee.employee_id %></th>
          <th><%= employee.user.name%></th>
          <th><%= employee.user.email %></th>
          <th><%= employee.gender %></th>
          <th><%= employee.date_of_join %></th>
          <th><%= employee.mobile %></th>
          <th><%= employee.designation %></th>

        </tr>
      <%end%>
    </tbody>
  </table>
</div>
