<%= stylesheet_link_tag 'emolpyee_form' %>
<div class="content-wrapper text-center">
 
  <aside class="profile-card">
    <header>
      <a><img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/tgnbc9nlrdnt70j0qmbx"></a>
    </header>
    <div class="profile-bio">
    <h1 class= ""><%= current_user.name%></h1>
      <div>
        <strong>Gender:-</strong>
        <%= @employee.gender%>
      </div>
      <div >
        <strong>Employee id:-</strong>
        <%= @employee.employee_id%>
      </div>
      <div >
        <strong>Joining:-</strong>
        <%= @employee.date_of_join%>
      </div>
      <div>
        <strong>DOB:-</strong>
        <%= @employee.date_of_birth%>
      </div>
      <div>
        <strong>Phone:-</strong>
        <%= @employee.mobile%>
      </div>
      <div>
        <strong>Designation:-</strong>
        <%= @employee.designation%>
      </div>
      <div>
        <strong>Department:-</strong>
        <%= @employee.department_id%>
      </div>
    </div>
  </aside>
</div>
