<div class= "content-wrapper">
    <table class="table table-user-information">
     
	    <thead>
		    <center><h2> Leave Detail </h2></center>	
            <th>leave type</th>
			<th>leave Unit</th>
			<th>reason</th>
			<th>Date start</th>
			<th>Date end</th>
			<th>Admin Remark</th>
		</thead>
        <tbody>
            <tr>
			<td><%= @hr.leave_type %></td>
		    <td><%= @hr.leave_unit %></td>
		    <td><%= @hr.reason %></td>
	        <td><%= @hr.start_date %></td>
		    <td><%= @hr.end_date %></td>		
		   </tr>
		</tbody>
	</table>
</div>