
<div class="content-wrapper">
  <div class="row justify-content">
    <div class="form-style-5">
       <%= form_with(model: @attendance ) do |form| %><br>
       <center><h1><strong>Attendance</strong></h1><br><br><br>
       <%= form.time_field :in_time %>
       <%= button_to :check_in %><br><br>
 
       <%= form.time_field :out_time %>
       <%= button_to :check_out %>
      <% end%>
    </div>
  </div>
</div>