<div class= "content-wrapper">
  <table class="table table-striped">
    <thead style="color:red;" >
      <th>Employee id</th>
      <th>Leave Type</th>
      <th>leave Unit</th>
      <th>reason</th>
      <th>Date start</th>
      <th>Date end</th>
      <th> status</th>
      <th>Action for Approval</th>
    </thead>
    <tbody>
      <% @leave_managements.each do |lm|%>
        <tr>
          <th><%= lm.user.employee.employee_id %></th>
          <th><%= lm.leave_type%></th>
          <th><%= lm.leave_unit %></th>
          <th><%= lm.reason %></th>
          <th><%= lm.start_date %></th>
          <th><%= lm.end_date %></th>
          <th><%= lm.status %></th>
          <% if lm.status == "pending"%>
            <th>
              <div class="approval">
                <%= form_tag(leave_management_accept_path(lm),remote:true) do %>
                  <%= hidden_field_tag :status,1 %>
                  <%= submit_tag "Approve", class: "btn btn-large btn-success"  %>
                <% end %>
                <%= form_tag(leave_management_decline_path(lm),remote:true) do %>
                  <%= hidden_field_tag :status,2 %>
                  <%= submit_tag "Reject", class: "btn btn-large btn-danger"%>
                <% end %>
              </div>
            </th>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
