<div class= "content-wrapper">
  <table class="table table-user-information">
    <thead>
      <th>leave type</th>
      <th>leave Unit</th>
      <th>reason</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr>
        <td><%= @leave_management.leave_type %></td>
        <td><%= @leave_management.leave_unit %></td>
        <td><%= @leave_management.reason %></td>
        <td><%= @leave_management.start_date %></td>
        <td><%= @leave_management.end_date %></td>
      </tr>
    </tbody>
  </table>
</div>
