<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
      <%if current_user%>
        <li class="nav-item d-none d-sm-inline-block me-5">
          <h2><%= current_user.name%></h2>
        </li>
        <li class="nav-item d-none d-sm-inline-block me-5">
          <h2><%= current_user.role%></h2>
        </li>
        <%# <li class="nav-item d-none d-sm-inline-block me-5">
          <h2> <%= button_to"Edit Account", edit_user_registration_path%></h2>
        </li>
        <li class="nav-item d-none d-sm-inline-block me-5">
          <h2><%= button_to "Logout", destroy_user_session_path,data: {turbo: "false"}, method: :delete  %> </h2>
        </li>
      <%else%>
        <li class="nav-item d-none d-sm-inline-block me-5">
         <%= button_to "Login",  new_user_session_path%>
        </li>
        <li class="nav-item d-none d-sm-inline-block me-5">
         <%= link_to "Create Account", new_user_registration_path %>
        </li>
      <%end%>
   
  </ul>
</nav>
