<aside class="main-sidebar sidebar-dark-purple-1 elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
    <span class="brand-text font-weight-light">Antier</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://picsum.photos/500/230" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a  class="d-block">Anand & Priyanka</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
        <li class="nav-item ">
          <div class="nav-link ">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <%=link_to "Dashboard", root_path%>
            <p>
            </p>
          </div>
        </li>
        <li class="nav-item has-treeview menu-open">
          <div  class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>employee
              <% if user_signed_in?%>
                <%if current_user.role == 'admin' %>
                  <li class="dropdown-item"><%= link_to "Employee List", employees_path  %></li>
                <%end %>
              <%end%>
              <li class="dropdown-item" ><%= link_to "Employee Attandance"%></li>
              <li class="dropdown-item" ><%= link_to "Add Employee", new_employee_path %></li>
              <li class="dropdown-item" ><%= link_to "Apply For leave",  new_leave_management_path%></li>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Department
              <li class="dropdown-item"><%=link_to "Department List", departments_index_path%></li>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                LeaveManagement
                <li class="dropdown-item"><%=link_to "Leave Report ", leave_managements_path%></li>
                <li class="dropdown-item"><%=link_to "Leave "%></li>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <div  class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <%=link_to "Widgets", widget_path%>
            </div>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Layout Options
                <%# <i class="fas fa-angle-left right"></i> %>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <%# <li class="nav-item">
              <a href="pages/layout/top-nav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Top Navigation</p>
              </a>
            </li> %>
              <%# <li class="nav-item">
              <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Top Navigation + Sidebar</p>
              </a>
            </li> %>
              <%# <li class="nav-item">
              <a href="pages/layout/boxed.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Boxed</p>
              </a>
            </li> %>
              <%# <li class="nav-item">
              <a href="pages/layout/fixed-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Sidebar</p>
              </a>
            </li> %>
              <%# <li class="nav-item">
              <a href="pages/layout/fixed-topnav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Navbar</p>
              </a>
            </li> %>
              <%# <li class="nav-item">
              <a href="pages/layout/fixed-footer.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Footer</p>
              </a>
            </li> %>
              <li class="nav-item">
                <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                  <%# <i class="far fa-circle nav-icon"></i> %>
                  <p>Collapsed Sidebar</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
